@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");

/**{
	margin: 0;
	padding: 0;
}*/

body{
	box-sizing: border-box;
	margin: 0;
	padding:0;
	background-color: #F5F5F5;
}

ul{
	list-style: none;
}
/* Navigation Bar */
.fixed-nav{
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}
.firt-nav{
	background: white;
}

.header-wrapper{
	max-width: 1300px;
	margin: auto;
	padding-left: 20px;
	padding-right:20px;
}
/* navigation-bar conatiner */
.zone{
	display: flex;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
}
/* Logo */
#logo{
	padding-top: 7.5px;
	width: 10rem;
}
/* Search section */
.search-section{
	margin-left: auto;
	align-self: center;

}

.search-bar {
    background: white;
	border: 1px solid #D2CECE;
	box-shadow: 0px 5px 6px  #ccc;
    height: 25px;
    border-radius: 25px;
    padding: 10px;
}

.search-bar:hover>#search-text{
	width:240px;
	padding:0 6px;

}

.search-bar:hover>.search-btn{
	background:#6E2BB7;
	color: white;
}

.search-btn {
    color: #6E2BB7;
    float: right;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-text{
	border: none;
	background: none;
	outline: none;
	float: left;
	padding:0;
	color:black;
	font-size: 16px;
	transition:0.4s;
	line-height:25px;
	width: 0px;
}
/* Navigation section */

.nav-section{
	display: inline-block;
}
.main-nav{
	display: inline-block;
	list-style: none;
}
.main-nav li{
	display: inline-block;
	padding-right:25px;
}

a{
	text-decoration: none;
}

.main-nav li .links{
	font-size: 1.1em;
	color: #837F7F;
}

/* .nav-section hover effect */
.main-nav li .links::after{
	content: "";
	width: 0%;
	height: 3px;
	display: block;
	background-color: #6E2BB7;
}

.main-nav li .links:hover::after {
	width: 100%;
	transition: all .5s;

}

.main-nav .nav-btn{
	padding: 0 30px;
	line-height: 40px;
	border-radius: 50px;
	background: rgb(76,246,230);
	background: linear-gradient(345deg, rgba(76,246,230,1) 0%, rgba(85,102,212,1) 39%, rgba(91,66,193,1) 63%, rgba(186,31,172,1) 100%);
	transition: .75s;
}

.main-nav .nav-btn a{
	color: white;

}

.main-nav .nav-btn:hover {
	background: rgb(186,31,172);
	background: linear-gradient(173deg, rgba(186,31,172,1) 0%, rgba(91,66,193,1) 39%, rgba(85,102,212,1) 63%, rgba(76,246,230,1) 100%);
	transform: scale(1.1);
}


/*Category Section*/
.category-section{
	font-family: 'Open sans', sans-serif;
	font-weight: bold;
	max-width: 1300px;
	margin: auto;
	padding: 5px;
}

.category-container{
	display: flex;
	justify-content: space-around;
	align-items: center;
	list-style: none;
	margin: 2px;
	padding:0px;
}

.category-container li{
	font-size: 1.1em;
	color: white;
	padding: 5px 10px;
	z-index: 1;
	position: relative;
}

.category-container .category:hover{
	color: black;
	cursor: pointer;
}

.category-container .category::after{
	position: absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	margin:auto;
	content: ".";
	width: 100%;
	height: 1px;
	display: block;
	color:transparent;
	background-color: white;
	visibility: none;
	opacity: 0;
	z-index: -1;
	border-radius: 20px;
}

.category-container .category:hover::after{
	opacity: 1;
	height:100%;
	visibility: visible;
	transition: all .5s;
}

.category-wrapper{
	background: #592998;
	box-shadow: 0 6px 6px rgba(0,0,0,16%);

}

/*Dropdown menu*/
.category-sub-menu li{
	color: black;
}

.category-sub-menu{
	display: block;
	position: absolute;
	border-top: 3px solid black;
	background-color: white;
	z-index: 100;
	top:10rem;
	opacity: 0;
	visibility: hidden;
	transition: all 65ms ease;
	padding-left:10px;
	list-style: none;
	border-radius: 10px;
	text-align: center;
	padding: 0;
}

.category-sub-menu::before{
	content: "";
	position: absolute;
	top:-2.1rem;
	left: 3rem;
	border: 1rem solid transparent;
	border-bottom-color: black;
}

.category-sub-menu li{
	margin: 10px;
}

.category-sub-menu a{
	font-family: "Open sans", sans-serif;
	display: inline-block;
	color: black;
	padding: 0 1.5rem;
	font-size: 1rem;
	transition: color 650ms;
}

.category-sub-menu li .no-border{
	border:none;
}

.category-sub-menu:nth-child(5){
	border:none;
}

.category-sub-menu a:hover{
	color: #eb3007;
}

.category-sub-menu .category-sub-menu::before{
	top: .9rem;
	left: -2rem;
	border: 1rem solid transparent;
	border-right-color: black; 
}

.category-sub-menu .category-sub-menu{
	border-top: none;
	border-left: 3px solid black;
	top:0;
	left: 160%;
}

.category:hover>.category-sub-menu{
	top:2.75rem;
	opacity:1;
	visibility: visible;
}

.category-sub-menu li:hover>.category-sub-menu{
	left: 105.5%;
	opacity:1;
	visibility: visible;
}


/*Small Screen Navigation Bar*/
.head-wrapper{
	background: white;
	box-shadow: 0 6px 6px rgba(0,0,0,16%);
}

.container{
	display: none;
	max-width:1300px;
	margin: 0 auto;
	border-bottom:10px solid #592998;
	border-right: black;

}
.container .container-nav ul{
	list-style: none;
}

.menu-icons{
	color: black;
	font-size: 1.9rem;
	cursor: pointer;
	display: none;
	margin-left: auto;
}

.container-nav{
	display: flex;
	align-items:center;
	width: 100%;
	border-bottom: 1px solid rgba(255,255,255,.1);
}

.nav-list{
	display: flex;
	margin:0;
	padding: 0;
}

.nav-list li{
	position: relative;
}

.sub-menu li{
	line-height: 2.75rem;
}

.nav-list a{
	font-family: "Oswald", sans-serif;
	display: inline-block;
	color: black;
	padding: 0 1.5rem;
	font-size: 1.1rem;
	transition: color 650ms;
}

.nav-list a:hover{
	color: #eb3007;
}

.sub-menu{
	width: 15rem;
	display: block;
	position: absolute;
	border-top: 3px solid #592998;
	background-color: white;
	z-index: 100;
	top:10rem;
	opacity: 0;
	visibility: hidden;
	transition: all 65ms ease;
	padding-left:10px;
}

.sub-menu::before{
	content: "";
	position: absolute;
	top:-2.5rem;
	left: 3rem;
	border: 1.2rem solid transparent;
	border-bottom-color: #592998;
}

.sub-menu .sub-menu::before{
	top: .9rem;
	left: -2.5rem;
	border: 1.2rem solid transparent;
	border-right-color: #592998;
}

.sub-menu .sub-menu{
	border-top:none;
	border-left: 3px solid #592998;
	left: 160%;
	padding-left: 10px;
}

.nav-list li:hover>.sub-menu{
	top:3rem;
	opacity:1;
	visibility: visible;
}

.sub-menu li:hover>.sub-menu{
	left:100%;
	top:-10%;
}
/*Cover Section*/

.padding{
	padding: 20px  10px;
}

.flexbox{
	display: flex;
	overflow: hidden;
}

.flexbox .col2 {
  flex: 1;
  padding: 0 10px;
  
}

.flexbox .col2:nth-child(1) {
  background: white;
  border-radius: 30px 0 0 30px;
  box-shadow: 1px 6px 6px rgba(0,0,0,16%);
}

.col2{
	display: flex;
	overflow: hidden;
	
}

.image-scroll{
	box-shadow: 1px 6px 6px rgba(0,0,0,16%);
	border-radius: 0 30px 30px 0;
}

.col2 img{
	width: 101.1%;
	/*border-radius: 0 30px 30px 0;*/
	margin-right: 10%;
	transition: 1s;
	height: auto;
}


.cover-title{
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	text-align: center;
	text-decoration: underline;
}

.cover-text{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	text-align: center;
	color: #847E7E;
	padding: 0 50px;
}
.view-btn{
	text-align: center;
}

.btn{
	display: inline-block;
	background: #3F3F3F;
	color: #fff;
	padding: 15px 25px;
	margin: 20px 0;
	border-radius:15px;
	font-family: 'Oswald', sans-serif;
	font-size:19px;
	cursor:pointer;
	transition:0.5s;
}

.btn:hover {
	background:linear-gradient(to bottom, #1f1f1f 5%, #5a5e5c 100%);
	background-color:#1f1f1f;
	transform: scale(1.05);
}

.text-alignment{
	display: flex;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: space-around;
}

.cover-container{
	max-width: 1300px;
	margin: 30px auto 0 auto;
}

/*Scrolling Section*/

.scrolling-container{
	margin: auto;
	margin-bottom: 30px;
	max-width: 1300px;
}

.scroll-button{
	transition:0.4s;
}

.flexbox .col8{
	flex:1;
	padding: 0 10px;
}

.content-manipulation{
	padding: 10px 0;
	justify-content: center;
	align-items: center;
}

.flexbox .circle{
	display: flex;
	justify-content: center;
}

.flexbox .circle img{
	width: 65%;
	border-radius:50%;
	box-shadow: 6px 6px 6px rgba(0,0,0,84%);
}

.left{
	text-align: right;
}

.flexbox .circle-active img{
	width: 70%;
	border: 10px solid #A070D5;
}

.scroll-button:hover{
	transform: scale(1.1);
}

/*New Arrivals*/

.new_arrival_container{
	width: 100%;
	background: rgb(148,114,218);
	background: linear-gradient(180deg, rgba(148,114,218,1) 0%, rgba(207,166,231,1) 100%);
	display: flex;
	align-items:center;
	box-shadow: 0 6px 6px rgba(0,0,0,16%);
}

.new-arrival{
	height: 100%;

}
.image{
	margin-left: 40px;
	margin-right: 80px;
	width: 4.2rem;
}

.product-card{
	width:250px;
	height:390px;
	background: #fafafa;
	border-radius: 20px;
	box-shadow: 2px 10px 12px rgba(0,0,0,0.5);
	margin: 20px 10px;
	position: relative;
}

a{
	text-decoration: none;
}

.badge {
	position: absolute;
	left: 0;
    top: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: red;
    color: #fff;
    padding: 3px 10px;
}

.product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    /*width: 205px;*/
    height: 200px;
    padding: 23px;
    background: #f0f0f0;
    border-radius: 20px 20px 0 0;
}

.model{
	max-height: 100%;
	max-width: 100%;
}

.product-details {
    padding: 10px 15px;
}

.product-catagory {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 5px;
    font-family: "Oswald", sans-serif;
    letter-spacing: 0.5px;
}

.product-details h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
    font-family: "Open-sans", sans-serif;
    font-weight: bold;
}

.product-details h4 a:hover {
    color: #fbb72c;
}

.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.product-bottom-details div {
    float: left;
    width: 50%;
}

.product-price {
    font-size: 18px;
    color: #fbb72c;
    font-weight: 600;
}

.product-links {
    text-align: right;
}

.product-links a {
    display: inline-block;
    margin-left: 5px;
    color: #e1e1e1;
    transition: 0.3s;
    font-size: 17px;
}

.product-links a:hover {
    color: #fbb72c;
}

/*Ad Section*/
.ad-wrapper{
	background: rgb(251,251,251);
	background: radial-gradient(circle, rgba(251,251,251,1) 0%, rgba(232,226,245,1) 100%);
	overflow: hidden;
	box-shadow: 0 6px 6px rgba(0,0,0,16%);
}

.ad-container{
	max-width: 1150px;
	margin: 0 auto;
	padding-left: 25px;
	padding-right: 25px;
	font-family: "Open sans", sans-serif;
	position: relative;

}

.content{
	position: absolute;
	transform: translateX(150%);
	transition: 0.3s;
}

#content1{
	transform: translateX(0px);
}

.ad-row{
	display: flex;
	align-items: center;
	flex-wrap:wrap;
	justify-content: space-around;
	}

.ad-col2{
	flex-basis: 50%;
	min-width: 300px;
}

.ad-col2 img{
	max-width: 100%;
	padding:50px;
	height: 483px;
}

.ad-col2 h1{
	font-size: 50px;
	line-height: 60px;
	margin: 25px 0;
	font-family: "Open-sans", sans-serif;
}

.ad-btn{
	display: inline-block;
	background: #ff523b;
	color: white;
	padding: 15px 30px;
	margin: 30px 0;
	border-radius: 30px;
	transition:.5s;
	font-weight:bold;
}

.ad-btn .fas{
	margin: 0 0px 0 20px;
	/*color: white;*/
}

.ad-btn:hover{
	background: white;
	color: black;
	transform:scale(1.1);
}


/* Top choices*/

.small-container{
	max-width: 1300px;
	margin: auto auto 30px auto;
	padding-left: 25px;
	padding-right: 25px;
	position: relative;
}

.ribbon{
	position: absolute;
	top: 0;
	left: 0;
	transform: translateY(-25%);
	max-width: 75px;
}

.ribbon img{
	width: 100%;
}

.choice-title{
	text-align: center;
	/*margin: 0 auto 80px;*/
	font-family: "Open sans",sans-serif;
	font-size: 2.5em;
	position: relative;
	line-height: 60px;
	color: #555;
}

.choice-title::after{
	content:'';
	background: #592998;
	width: 160px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	bottom: -50%;
	left: 50%;
	transform: translateX(-50%);
}

.thumbnail-slider{
	width: 100%;
	float : left;
	overflow:hidden;
}

.thumbnail-slider .thumbnail-container{
	width: 100%;
	float: left;
	transition: margin 1s ease;
}

.thumbnail-slider .thumbnail-items{
	float : left;
}

.thumbnail-slider .controls{
	width: 100%;
	float: left;
	padding: 15px
}

.thumbnail-slider .controls ul{
	display: block;
	text-align: center;
	padding: 0;
	margin: 0;
}

.thumbnail-slider .controls ul li{
	height: 35px;
	width: 35px;
	border: 1px solid black;
	border-radius: 50%;
	margin: 4px;
	display: inline-block;
	line-height: 33px;
	cursor: pointer;
}

.thumbnail-slider .controls ul li.active{
	background: #592998;
	color: white;


}


/* Speial Offer*/
.loooking-image{
	margin-top:10px;
	margin-bottom:10px;
	margin-left: 40px;
	margin-right: 80px;
	width:3.5rem;
}

/*Testimonials*/

.testimonials{
	background: rgb(251,251,251);
	background: radial-gradient(circle, rgba(251,251,251,1) 0%, rgba(232,226,245,1) 100%);
	float: left;
	width: 100%;
	padding: 50px 0px;
	font-family: 'Oswald',sans-serif;
	box-shadow: 0px 6px 10px rgba(0,0,0,40%);
}
.test-container{
	max-width: 1300px;
	margin: auto;
	display:  flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
}

.testimonials .test-title{
	/*margin-right: : 60px;*/
}

.testimonials .test-title h1{
	padding-top:10px;
	text-align: left;
	color: black;
	text-transform: uppercase;
	font-size: 47px;
	margin:0;
}

.test-content{
	display: flex;
}

.testimonials .test-slider{
	border: 1px solid white;
	border-right: 5px solid #A070D5;  
	max-width: 600px;
	margin-left:auto;
	padding: 30px;
	text-align: center;
	background: rgba(255,255,255,0.5);
	border-radius: 30px 0 0 30px;
	box-shadow: 6px 6px 6px rgba(0,0,0,16%);
}

.testimonials .test-slider .slide{
	display: none;
}

.testimonials .test-slider .slide.active{
	display: block;
	animation:  slide 1s ease;
}

@keyframes slide{
	0%{
		opacity: 0;
		transform: translateX(-15px);
	}
	100%{
		opacity: 1;
		transform: translateX(0px);
	}
}
.testimonials .test-slider p{
	font-size: 18px;
	color: black;
	
}

.testimonials .test-slider p .fa-quote-left{
	float: left;
	font-size: 25px;
	color: purple;
}

.testimonials .test-slider p .fa-quote-right{
	float:right;
	font-size: 25px;
	color: purple;
}

.testimonials .test-slider .slide-info h3{
	font-family: "Open sans",sans-serif;
	font-weight: bold;
	color: black;
	font-size: 18px;
	margin: 30px 0px 10px;
}

.testimonials .test-indicator{
	text-align: center;
	padding-top:20px;
	display: flex;
	flex-direction:column;
}

.testimonials .test-indicator img{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	object-fit: cover;
	margin: 0 15px;
	opacity: 0;
	cursor: pointer;
	transition: opacity 1s ease;
	box-shadow: 6px 6px 6px rgba(0,0,0,84%);
	border: 6px solid #A070D5;
}

.testimonials .test-indicator img.active{
	opacity: 1;
}

/* Subscribe*/
.subscribe-container{
	padding: 50px;
	margin: auto;
	max-width: 1300px;
	height: 150px;
	display: flex;
	align-items: center;
	justify-content:  space-around;
	font-family: "Open sans", sans-serif;
}

.subscribe-container .sub-col1 h1{
	font-size: 2.5em;
	margin: 10px 0;
}

.subscribe-container .sub-col2{
	padding-top:30px;
}
/*Footer*/

.footer-container{
	background: rgb(117,62,134);
	background: linear-gradient(180deg, rgba(117,62,134,1) 0%, rgba(70,40,99,1) 69%, rgba(42,38,103,0.9054972330729166) 100%);
	padding: 1rem 0 1rem 0;
}

.footer{
	width:80%;
	/*height: 40vh;*/
	/*background: #34165C;*/
	color: white;
	display: flex;
	justify-content: space-around;
	flex-wrap:wrap;
	margin:0 auto;
}

.footer-heading{
	display: flex;
	flex-direction: column;
	margin-right: 4rem;

}

.footer-heading h2{
	margin-bottom: 2rem;
	font-family: "Oswald", sans-serif;
}

.footer-heading a{
	color: white;
	margin-bottom: 0.5rem;
	font-family: "Open sans", sans-serif;
}

.footer-heading a:hover{
	color:red;
	transition: 0.3s ease-out;
}

.footer-email-form h2{
	margin-bottom: 2rem;
	font-family: "Oswald", sans-serif;
}

#footer-email{
	width:250px;
	height: 40px;
	border-radius: 4px;
	outline: none;
	border: none;
	padding-left: 0.5rem;
	font-size: 1rem;
	margin-bottom:1rem;
}

#footer-email::placeholder{
	color:#b1b1b1;
}

#footer-email-btn{
	width:100px;
	height: 40px;
	border-radius: 4px;
	background: #f9423d;
	outline: none;
	border: none;
	color: white;
	font-size:1rem;
}

#footer-email-btn:hover{
	cursor: pointer;
	background: #337AF1;
	transition: all 0.4s ease-out;
}

.footer-2 a .fas,
.footer-3 a .fab{
	font-size: 1.1rem;
	margin-right: 15px;
}

#logo2{
	width: 200px; 
	padding-top:200px; 
	padding-left: 100px;
}
.copyright-container{
	padding: 5px; 
	background: white; 
	text-align: center; 
	font-weight: bold;
}
/* For Small Screens*/
@media screen and (max-width: 1150px){
	 #logo2{
	 	padding-top:10px; 
	 }
}

@media screen and (max-width: 1082px){
	 #logo2{
	 	margin-top:4rem;
	 }
}

@media screen and (max-width: 1000px){
	.firt-nav{
		display: none;
	}
	.category-wrapper{
		display: none;
	}
	.container{
		display: block;
	}
	.nav-list{
		position: fixed;
		top:0px;
		left: 0px;
		height: 100vh;
		display: none;
		flex-direction: column;
		background-color: white;
		z-index: 1000;
		overflow-y:scroll;
	}

	.nav-list>li{
		line-height: 4rem;
		border-bottom: 1px solid black;
	}

	.sub-menu{
		position: initial;
		border: 3px solid transparent;
		border-left-color: #592998;
		/*margin-left: 0.1rem;*/
		max-height: 0;
	}

	.sub-menu::before{
		display: none;
	}

	#logo{
		margin: 10px 25px;
	}

	.nav-list li:hover>.sub-menu{
		opacity: 1;
		visibility: visible;
		max-height: initial;
	}

	.menu-icons{
		display: block;
		margin-right: 25px;
	}

	.fa-times{
		display: none;
	}

	.container-nav.active .fa-times{
		display: block;
	}

	.container-nav.active .fa-bars{
		display: none;
	}

	.container-nav.active .nav-list{
		display: flex;
	}


}



@media screen and (max-width: 960px){
	.test-col{
		flex: 100%;
		max-width: 80%;
	}
	.subscribe-container{
		height: auto;
		flex-direction: column;
	}
}

@media screen and (max-width: 820px){
	 .footer{
	 	padding-top: 2rem;
	 }
	 .footer-email-form{
	 	margin-top:4rem;
	 }
}

@media screen and (max-width: 720px){
	 .footer{
	 	flex-direction: column;
	 }
	 .footer-email-form{
	 	margin-top:2rem;
	 }
}

@media screen and (max-width: 600px){
	.test-col{
		flex: 100%;
		max-width: 80%;
	}
}

@media (max-width: 720px){
	/*.product-card{
		width: 80%;
	}*/

	.image{
		width: 2rem;
		margin-left: 10px;
		margin-right: 30px;
	}
}