/*******/
.about{
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 90vh;
    width: 85vw;
    margin: 240px auto 0;
}

.image{
    background: url("image/11.jpg") center/cover no-repeat;
}
.about-content{
    background: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.about-content h2{
    text-transform: uppercase;
    font-size: 36px;
    letter-spacing: 6px;
    opacity: 0.9;
}
.about-content span{
    height: 0.5px;
    width: 80px;
    background: #777;
    margin: 30px 0;
}
.about-content p{
    padding-bottom: 15px;
    font-weight: 300;
    opacity: 0.7;
    width: 60%;
    text-align: center;
    margin: 0 auto;
    line-height: 1.7;
}
.links{
    margin: 15px 0;
}
.links li{
    border: 0.5px solid #777;
    list-style: none;
    border-radius: 5px;
    padding: 10px 15px;
    width: 160px;
    text-align: center;
}
.links li a{
    text-transform: uppercase;
    color: #777;
    text-decoration: none;
}
.links li:hover{
    border-color: #06d6a0;
}
.links li:hover a{
    color :#06d6a0;
}
.vertical-line{
    height: 30px;
    width: 0.5px;
    background: #777;
    margin: 0 auto;
}
.icons{
    display: flex;
    padding: 15px 0;
}
.icons li{
    display: block;
    padding: 5px;
    margin: 5px;
}
.icons li i{
    font-size: 26px;
    opacity: 0.8;
}
.icons li i:hover{
    color: #06d6a0;
}


/*****************/

@media(max-width: 992px){
    section{
        grid-template-columns: 1fr;
        width: 100%;
    }
    .image{
        height: 100vh;
    }
    .content{
        height: 100vh;
    }
    .content h2{
        font-size: 20px;
        margin-top: 50px;
    }
    .content span{
        margin: 20px 0;
    }
    .content p{
        font-size: 14px;
    }
    .links li a{
        font-size: 14px;
    }
    .links{
        margin: 5px 0;
    }
    .links li{
        padding: 6px 10px;
    }
    .icons li i{
        font-size: 15px;
    }
}

/******/
.about-wrapper{
  margin-top: 150px;
  text-align: center;
  background: rgb(148,114,218);
  background: linear-gradient(180deg, rgba(148,114,218,1) 0%, rgba(207,166,231,1) 100%);
  padding-bottom: 50px;
  box-shadow: 0px 6px 6px rgba(0,0,0,0.5);
}

.about-wrapper h1{
  font-family: 'Open sans',sans-serif;
  font-size: 48px;
  color: #fff;
  margin-bottom: 25px;
}

.our_team{
  width: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "Open sans",sans-serif;
}

.our_team .team_member{
  width: 250px;
  margin: 15px;
  background: #fff;
  padding: 20px 10px;
}

.our_team .team_member .member_img{
  background: #e9e5fa;  
  max-width: 190px;
  width: 100%;
  height: 190px;
  margin: 0 auto;
  border-radius: 50%;
  padding: 5px;
  position: relative;
  cursor: pointer;
}

.our_team .team_member .member_img img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.our_team .team_member h3{
  text-transform: uppercase;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2px;
  margin: 15px 0 0px;
  font-family: "Oswald",sans-serif;
}

.our_team .team_member span{
  font-size: 13px;
}

.our_team .team_member p{
  margin-top: 20px;
  font-size: 14px;
  line-height: 20px;
}

.our_team .team_member .member_img .social_media{
  position: absolute;
  top: 5px;
  left: 5px;
  background: rgba(0,0,0,0.65);
  width: 95%;
  height: 95%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
   transition: all 0.5s ease;
}

.our_team .team_member .member_img .social_media .item{
  margin: 0 10px;
}

.our_team .team_member .member_img .social_media .fab{
  color: #8c7ae6;
  font-size: 20px;
}

.our_team .team_member .member_img:hover .social_media{
  transform: scale(1);
}

.term-wrapper{
    max-width: 500px;
	width: 100%;
	background: white;
	margin: 20px auto;
	padding: 30px;
	box-shadow: 6px 6px 6px rgba(0,0,0,0.5);
    border-radius: 30px;
    font-family: "Open sans",sans-serif;
}
.term-wrapper .fa-times{
	float: right;
	transition: .2s;
}

.term-wrapper .fa-times:hover{
	transform: scale(1.15);
}

.term-wrapper .term-title{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.term-wrapper .term-content{
    margin: 25px auto;
    max-height: 500px;
    overflow-y: scroll;
}

.term-wrapper .term-content>ul{
    list-style:disc;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }