.notif-container{
    margin: auto;
    max-width: 1200px;
}


.notif-list li{
    font-size: 25px;
    padding: 10px;
    text-align: center;
    line-height: 40px;
    background-color:white;
    box-shadow: 0 6px 6px rgba(0,0,0,16%);
    border-radius: 10px;
    width: 1000px;
    margin: 20px;
}

.notif-list li a{
    font-family: 'Open sans',sans-serif;
    color: black;
}